.rightContent{
    /*height: 1250px;*/
    border:1px solid lightgray;
    border-radius: 5px;
    margin: 7px;
    padding:23px 23px 0 23px;
}
.attackNew>p{
    color: #5ea8f4;
    font-size: 16px;
    font-weight: 500;

}
.pianyiWrap p{
    float: left;
    margin: 13px 50px 25px 0;
}
.pianYi{
    float: left;
    width: 12%;
    height: 35px;
    margin-right: 12px;
    border-radius: 2px;
    padding:7px 10px 0 12px;
    border: 1px solid #eee3da;
    margin: 5px 40px 0 0;
    background: url("../image/Threat_29.png") center;
    position: relative;
}
.pianYi input{
    width: 87%;
    border: none;
    border-right: 1px solid grey;
    outline: none;
    background: transparent;
}
.chaxun{
    width: 6%;
    background: #3a8cc3;
    color: white;
}
.chaxun:hover{
    color: white;
    background: #2f7eb3;
}
.up,.down{
    position: absolute;
    right:5.5%;
    cursor:pointer
}
.up{
    top:1%;
}
.down{
    bottom: 1%;
}
.trr{
    border:1px solid lightgray;
}
.tt{
    height: 80px;
    background: url("../image/attack_03.png") repeat center;
}
.table tbody tr th,.table tbody tr td{
    vertical-align: middle;
    text-align: center
}

.paginationn{
    float: right;
    margin-right:10%;
}
.pageTotal{
    height: 36px;
    line-height: 36px;
    margin-right: 25px;
}
#yema{
    float: right;
    margin:37px 4% 0 0;
}
#yema ul li{
    float: left;
}
#yema ul li a{
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}