.rightContent{
    padding:0 12px 0 12px;
}
.rightConT{
    min-height: 215px;
    background: #f6f6f6;
    padding: 30px 0 0 15px;
}
.rightConT ul li ,.mailD {
    overflow: hidden;
    min-height: 30px;
}
.rightConT ul li>span{
    color: #333;
    font-size: 14px;
    display: block;
    float: left;
    width: 5%;
}

.mailD p{
    color: #868f9b;
    float: left;
    width: 15%;
    height: 20px;
}
.traceNew {
    color: #3479c1;
    font-size: 14px;
    float: left;
    cursor: pointer;
    width: 7%;
    text-align: center;
}
.traceNew:hover{
    color: #2b72b0;
    border:1px solid #9f9f9f;
    font-weight: 600;
    border-radius: 5px;
    background: #d2d2d2;
}
.attachments p a{
    color: #21c210;
}
.attachments p a:hover{
    text-decoration: none;
}
.rightConM{
    min-height: 365px;
    overflow: auto;
    padding: 15px;
    margin-top: 15px;
    border: 1px solid darkgray;
    border-radius: 3px;
}
.rightConB{
    height: 243px;
    border: 1px solid darkgray;
    padding: 12px;
    margin-top: 22px;
    border-radius: 5px;
}
.rightConB ul li{
    margin: 10px 0;
}
.rightConB ul li span{
    margin: 0 10px;
}
.fujian{
    border-bottom: 1px solid darkgray;
}



















