.sysSet{
    height: 790px;
    /*border: 1px solid lightgray;*/
    border-top: none;
    border-radius: 4px;
    padding: 22px 0 0 18px;
    margin: 0 12px 0 12px;
    background: #fff;
    position: relative;
}
.fenxian{
    width: 99%;
    height: 20px;
    background: url("../image/hacker_03.png") center;
    position: absolute;
    top: 36px;
    left: 19px;
}

.nav-pills>li{
    background: url("../image/sysset_03.png");
    border: 1px solid #e2e1e1;
    border-radius: 3px;
    width: 88px;
}
.nav-pills > li + li {
     margin-left: 0px;
}
.nav>li>a{
    padding: 5px  15px;
    color: #333;
    text-align: center;
}
.setWrapXl{
    margin: 40px 0 0 0;
}
.table tbody tr th,.table tbody tr td{
    vertical-align: middle;
    text-align: center
}
.jiekouxinxi{
    width: 435px;
    height: 94px;
    background: url("../image/portSetBg.png");
    position: relative;
}
#portTable{
    margin: 25px 0 20px 12px;
    width: 99%;
}
.table-striped>tbody>tr:first-child{
    background-color: #eeeeee;
    border: 1px solid lightgrey;
}
#portTable>thead>tr>th,#portTable>tbody>tr>th,#portTable>tfoot>tr>th,
#portTable>thead>tr>td,#portTable>tbody>tr>td,#portTable>tfoot>tr>td{
    border-top:0px solid #ddd
}
.trace{
    width:36%;
    height: 26px;
    background: #fff;
    color: #333;
    border: 1px solid lightgrey;
    border-radius: 4px;
}
.trace:hover{
    background: #3a8cc3;
    color: white;
}

#portTable > tbody > .trClick{
    background:#D8EFFB
}
.interNew{
    color: #3a8cc3;
    font-size: 16px;
    margin-bottom: 20px;
}
.inter{
    position: absolute;
    top: 14px;
    left: 234px
}
.inter>div span{
    display: inline-block;
    width: 19px;
    height: 19px;
}
.interUp{
    background: url("../image/portSetUp.png");
}
.interDown{
    background: url("../image/portSetDown.png");
}
.interHightL{
    background: url("../image/portSet03.png");
}
.shuxing{
   font-size: 14px;
    color: #333;
    height: 33px;
    line-height: 33px;
    float: left;
}
.shuxingR,.shuxingRR{
    width: 757px;
    height: 232px;
    float: left;
}
.shuxingRR{
    height: 80px;
}
.threatAnalList{
    width: 29%;
    height: 35px;
    margin:0 12px 0 25px;
    border-radius: 2px;
    padding:0px 0 0 12px;
    border: 1px solid #bcb4ad;
    position: relative;
}
.threatAnalList input{
    width: 80%;
    padding-top: 3px;
    border: none;
    outline: none;
    background-color: transparent;
    margin-top: 4px;
}
.threatAnalList button{
    float: right;
    border: none;
    background: none;
    width: 15%;
    height: 33px;
    margin-right: 0;
    border-left: 1px solid #bcb4ad;
    outline:none;
}
.ipInput{
    margin: 40px 0 0 25px;
}
.ipInput input,.shuxing input{
    height: 34px;
    outline: none;
    margin-right: 18px;
    padding-left: 8px;
}
.save{
    width: 83px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background:url("../image/traceBg.png");
    border-radius: 7px;
    color: white;
    cursor: pointer;
    margin: 39px 0 0 25px;
    clear: both;
}
.save:hover{
    background: #3a8cc3;
}
.guanji,.chongqi{
    width: 140px;
    height: 34px;
    float: left;
    line-height: 31px;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    /*background: #3b8ec6;*/
    background: url("../image/referBg.png");
    color: white;
    border-radius: 8px;
    margin:36px 30px 0 0;
    font-family: "微软雅黑";
    cursor: pointer;
}
.guanji{
    margin-left: 75px;
}
.guanji:hover,.chongqi:hover{
    background: #3a8cc3;
}






















