.systemContent{
    height: 790px;
    border: 1px solid lightgray;
    border-top: none;
    border-radius: 4px;
}
.sysBanben{
    height: 58px;
    line-height: 58px;
    padding:12px 0 0 30px;
}
.portWrap{
    width: 100%;
    clear: both;
    padding:34px 0 0 30px;
    height: 70px;
    color: #3479c1;
    background: url('../image/zhexian_03.png') repeat-x center
}
.state{
    margin:0 0 20px 54px;
}
.cpuMemDisk{
    width: 18%;
    margin:0 5% 0 0;
    float: left;
}
.cpuMemDisk>span{
    float: left;
}
.cpuMemDisk>div{
    float: left;
    width: 250px;
    height: 250px;
}
.workPort{
    float: left;
    margin-left: 15px;
    width: 165px;
    height: 65px;
}
.workPort img{
    margin-bottom: 3px;
}








