.sysSet{
    height: 790px;
    border: 1px solid lightgray;
    border-top: none;
    border-radius: 4px;
    padding: 22px 0 0 18px;
    margin: 0 12px 0 12px;
    background: #f7f7f7;
    position: relative;
}
.fenxian{
    width: 100%;
    height: 20px;
    background: url("../image/hacker_03.png") center;
    position: absolute;
    top: 36px;
    left: 0;
}
.setWrap{
    float: left;
    position: relative;
}
.portset{
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #dedede;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #aaaaaa;
}
.portset:hover{
    background: #367ac5;
    color: white;
}
.setWrapXl{
    position: absolute;
    top: 90px;
    left: 0;
    width:750px;
    display:none;
}
.portsetB{
    background: #367ac5;
    color: white;
}
.shuxing{
    font-size: 14px;
    color: #333;
    height: 33px;
    line-height: 33px;
    float: left;

}
.shuxingR,.shuxingRR{
    width: 757px;
    height: 83px;
    float: left;
}
.shuxingRR{
    height: 80px;
}
.threatAnalList{
    width: 29%;
    height: 35px;
    margin:0 40px 0 25px;
    border-radius: 2px;
    padding:4px 0 0 12px;
    border: 1px solid #bcb4ad;
    position: relative;
    float: left;
}
.threatAnalList input{
    width: 80%;
    padding-top: 3px;
    border: none;
    outline: none;
    background-color: transparent;
}
.threatAnalList button{
    float: right;
    border: none;
    background: none;
    width: 15%;
    height: 27px;
    margin-right: 0;
    border-left: 1px solid #bcb4ad;
}
.upgradee{
    color:white;
    background: #fe8c27;
    width: 83px;
    height: 30px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
    font-size: 15px;
    border-radius: 7px;
    float: left;
    cursor: pointer;
    margin-top:3px;
}
.table tr th,.table tr td{
    text-align: center;
}
