.sysSet{
    height: 790px;
    border: 1px solid lightgray;
    border-top: none;
    border-radius: 4px;
    padding: 22px 0 0 18px;
    margin: 0 12px 0 12px;
    background: #f7f7f7;
    position: relative;
}
.fenxian{
    width: 100%;
    height: 20px;
    background: url("../image/hacker_03.png") center;
    position: absolute;
    top: 36px;
    left: 0;
}
.setWrap{
    float: left;
    position: relative;
}
.portset{
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #dedede;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #aaaaaa;
}
.portset:hover{
    background: #367ac5;
    color: white;
}
.setWrapXl{
    position: absolute;
    top: 90px;
    left: 0;
    width: 818px;
    display:none;
}
.portsetB{
    background: #367ac5;
    color: white;
}
.shuxing{
   font-size: 14px;
    color: #333;
    height: 33px;
    line-height: 33px;
    float: left;

}
.shuxingR,.shuxingRR{
    width: 757px;
    height: 232px;
    float: left;
}
.shuxingRR{
    height: 80px;
}
.threatAnalList{
    width: 29%;
    height: 35px;
    margin:0 12px 0 25px;
    border-radius: 2px;
    padding:4px 0 0 12px;
    border: 1px solid #bcb4ad;
    position: relative;
}
.threatAnalList input{
    width: 80%;
    padding-top: 3px;
    border: none;
    outline: none;
    background-color: transparent;
}
.threatAnalList button{
    float: right;
    border: none;
    background: none;
    width: 15%;
    height: 32px;
    margin-right: 0;
    border-left: 1px solid #bcb4ad;
}
.ipInput{
    margin: 40px 0 0 0;
}
.ipInput input,.shuxing input{
    height: 34px;
    outline: none;
    margin-right: 18px;
}
.save{
    width: 83px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background: #2e7eb3;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    margin: 39px 0 0 25px;
    clear: both;
}
.guanji{
    width: 140px;
    height: 34px;
    float: left;
    line-height: 31px;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    background: #3b8ec6;
    color: white;
    border-radius: 8px;
    margin:36px 30px 0 0;
    font-family: "微软雅黑";
    cursor: pointer;
}
.chongqi{
    color: #454747;
    background: #d2d2d2;
}





















