.sysSet{
    height: 790px;
    /*border: 1px solid lightgray;*/
    border-top: none;
    border-radius: 4px;
    padding: 22px 0 0 18px;
    margin: 0 12px 0 12px;
    /*background: #f7f7f7;*/
    position: relative;
}
.fenxian{
    width: 100%;
    height: 20px;
    background: url("../image/hacker_03.png") center;
    position: absolute;
    top: 36px;
    left: 0;
}
.nav-pills>li{
    background: url("../image/sysset_03.png");
    border: 1px solid #e2e1e1;
    border-radius: 3px;
    width: 106px;
}
.nav-pills > li + li {
    margin-left: 0px;
}
.nav>li>a{
    padding: 5px  15px;
    color: #333;
    text-align: center;
}
.setWrapXl{
    margin: 40px 0 0 0;
}
.table{
    width: 35%;
}
.table tr th,.table tr td{
    text-align: center;
}
.table-striped>tbody>tr:first-child{
    background-color: #eeeeee;
    border: 1px solid lightgrey;
}
.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,
.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td{
    border-top:0px solid #ddd
}
.edit{
    width:41%;
    height: 26px;
    margin-right: 2%;
    background: #fff;
    color: #333;
    border: 1px solid lightgrey;
    border-radius: 4px;
}
.edit:hover{
    background: #3a8cc3;
    color: white;
}
.addd{
    height: 26px;
    line-height: 26px;
    width: 80px;
    border: none;
    cursor: pointer;
    background: url("../image/traceBg.png");
    border-radius: 5px;
    color: white;
    margin:15px 0 0 29px;
}
.addd:hover{
    background:#3a8cc3;
}
.addMange{
    height: 41px;
    line-height: 41px;
    padding-left: 13px;
    background: url("../image/tanchuang_03.png") center;
}
.addManC{
    margin-bottom: 20px;
}
.addManC span{
    display: inline-block;
    width: 140px;
    text-align: right;
    height: 29px;
    line-height: 29px;
    margin-right: 15px;
}
.addManC input{
    border: 1px solid lightgray;
    height: 29px;
    width: 340px;
}
.quxiao,.chuangjian{
    height: 28px;
    line-height: 24px;
    text-align: center;
    border: 1px solid lightgray;
    float: right;
    border-radius: 7px;
    cursor: pointer;
}
.modal-footer{
    padding: 0 82px 15px 15px;
    border-top: none;
}
.quxiao{
    width: 58px;
}
.chuangjian{
    width: 100px;
    color: white;
    margin: 0 95px 0 11px;
    background: #3485bb;
}